
nav{
    height: 4rem;
    color: black;
    padding: 1% 2%;
}
.logo{
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;

}

.bg-gradient-primary{background-color:#4e73df;}
.sidebar{width:6.5rem;min-height:100vh}
.sidebar .nav-item{position:relative}
.sidebar .nav-item:last-child{margin-bottom:1rem}
.sidebar .nav-item .nav-link{text-align:center;padding:.75rem 1rem;width:6.5rem}
.sidebar .nav-item .nav-link span{font-size:.65rem;display:block}
.sidebar .nav-item.active .nav-link{font-weight:750}

.sidebar .sidebar-brand{height:4.375rem;text-decoration:none;font-size:1rem;font-weight:800;padding:1.5rem 1rem;text-align:center;text-transform:uppercase;letter-spacing:.05rem;z-index:1}
.sidebar hr.sidebar-divider{margin:0 1rem 1rem}
.sidebar .sidebar-heading{text-align:center;padding:0 1rem;font-weight:800;font-size:.75rem}

.sidebar{font-size:.75rem;color:rgba(255,255,255,.5)}
@media (min-width:768px){.sidebar{width:14rem!important}}

.sidebar .nav-item .nav-link{display:block;width:100%;text-align:left;padding:1rem;width:14rem}
.sidebar .nav-item .nav-link i{font-size:.85rem;margin-right:.25rem}
.sidebar .nav-item .nav-link span{font-size:.85rem;display:inline}
.sidebar .sidebar-brand .sidebar-brand-text{display:inline}
.sidebar .sidebar-heading{text-align:left}


.sidebar-brand{color:#fff}
hr.sidebar-divider{border-top:1px solid rgba(255,255,255,.15)}
.sidebar-heading{color:rgba(255,255,255,.6);}
.nav-item .nav-link{color:#fff}

.nav-link:visited{
    background-color: rgba(255,255,255,.5);
}
.nav-link:active{
    color:rgba(255,255,255,.2);
}



#wrapper{
    display: flex;
    flex-direction: row;
}
#sidebar{
    flex: 1;
}
#content{
    flex: 4;
    
}

#dashboard{
    display: block;
}

#pending-student{
    display: none;
   
    width: 100%;
    height: 100%;
}
#enrolled{
    display: none;
   
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}
#pending-tutor{
    display: none;
   
    width: 100%;
    height: 100%;
}
#employed{
    display: none;
    
    width: 100%;
    height: 100%;
}
#card-data{
    margin: 1% 1%;
}

#bar-chart{
    width: 100%;
    height: 70vh;
    margin: 1%;
}
#chart_bar1,#chart_bar2{
  
    margin: 0% 6% 0% 2%;
}

#pie-chart{
    width: 100%;
    height: 50vh;
   
    margin: 1%;
}
#piechart1,#piechart2{

    margin: 0% 6% 0% 2%;
}


@media(max-width:576px){
    #sidebar{
        width: 1rem;
    }
}

.data-container{
    margin: 2% 5% 1% 5%;
     
    height: 100vh;
   
}
.data-container ul{
    padding-top: 2%;
}
.data-container .list-inline {
    
    padding-bottom: 1%;
    margin-bottom: 0px;
    text-align: center;
}
.data-container .list-item {
    padding: 1% 0%;
    margin: 0;
    text-align: center;
}
.data-container .list-item li {
    border-right: 5px solid rgb(8, 104, 13);
}
.data-container span{
    padding: 5%;
    text-transform: uppercase;
    font-size: 1rem;
}
.divider{
    height: 3rem;
}